@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: url("./assets/principal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  color: #FAD61D;
  text-align: center;
  margin: 0;
  padding: 0;
}

.titulo {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
    text-shadow: 
    2px 2px 4px #003e3e,
    0 0 8px #007081;
  margin-top: 2rem;
  letter-spacing: 2px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.boton-pokedex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d62828; 
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #750000;
  border-radius: 0.8rem;
  padding: 0.7rem 1.4rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}