@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000;
}

body.bg-principal,
body.bg-secondary {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.bg-principal {
  background-image: url("./assets/principal.jpg");
}

body.bg-secondary {
  background-image: url("./assets/fondo.jpg");
}

/*Contenedor principal*/
.pokedex {
  width: 55%;
  margin: 60px auto;
  background: #d32f2f;
  border: 3px solid #600000;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.pokedex-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #ffeaea;
  text-shadow: 0 0 5px #ffffff44;
}

/*Pantalla azul*/
.pokemon-frame {
  background: linear-gradient(180deg, #06333f, rgb(16, 112, 157));
  border: 3px solid #00ffff;
  border-radius: 12px;
  box-shadow: 0 0 15px #00ffff88;
  padding: 20px;
  width: 94.5%;
}

/*Nombre*/
.pokemon-name {
  color: #00ffff;
  font-size: 1.4rem;
  text-shadow: 0 0 6px #00ffffaa;
  margin-bottom: 10px;
}

/*Imagenes*/
.pokemon-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 0px;
  margin: 10px 0;
}

/*AUDIO*/
.pokemon-card audio {
  width: 250px;
  height: 25px;
  display: block;
  margin: 10px auto;
  outline: none;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #e6f0ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*TIPOS Y ESTADÍSTICAS*/
.types h3,
.stats h3 {
  color: #ffcc00;
  margin-bottom: 5px;
  font-size: 1rem;
}

.types ul,
.stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.types li {
  display: inline-block;
  margin: 3px;
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  font-size: 0.85rem;
}

/*Color de los tipos*/
.type-normal { background: #858585; }
.type-grass { background: #78C850; }
.type-poison { background: #A040A0; }
.type-fire { background: #F08030; }
.type-water { background: #6890F0; }
.type-electric { background: #F8D030; }
.type-ice { background: #98D8D8; }
.type-fighting { background: #C03028; }
.type-ground { background: #E0C068; }
.type-flying { background: #A890F0; }
.type-psychic { background: #F85888; }
.type-bug { background: #A8B820; }
.type-rock { background: #B8A038; }
.type-ghost { background: #705898; }
.type-dark { background: #705848; }
.type-dragon { background: #7038F8; }
.type-steel { background: #7f7f8b; }
.type-fairy { background: #EE99AC; }

.stats li {
  font-size: 0.9rem;
  margin: 3px 0;
  color: #ddd;
}

/* Contenedor del buscador */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* Input */
.pokedex-input {
  background: rgba(0, 0, 40, 0.6);
  border: 2px solid #00ffff;
  border-radius: 8px;
  padding: 10px 14px;
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
  letter-spacing: 1px;
  outline: none;
  width: 220px;
  box-shadow: 0 0 10px #00ffffaa;
  transition: all 0.3s ease;
}

/* Botón */
.pokedex-button {
  background: linear-gradient(180deg, #00ccff, #0077aa);
  border: 2px solid #00ffff;
  border-radius: 8px;
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  padding: 10px 16px;
  cursor: pointer;
  box-shadow: 0 0 10px #00ffffaa;
  transition: all 0.3s ease;
}